body{
    border: 250px solid #777;
 width: 300px; 
 position: absolute;
 right: 240px;  
 bottom: -20px;
}
.heading1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    top: -370px; 
    left: -255px;
    font-size: xx-large;   
}
.heading2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
    font-size: xx-large;
    position: absolute;
    top: -370px;
    right: -20px;
}
.heading3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: xx-large;
    position: absolute;
    top: -370px;
    right: -210px;
}
.heading4{
    position: absolute;
    top: -486px;
    left: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: whitesmoke;
}
.heading5{
    position: absolute;
    top: -170px;
    left: -168px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdc5;
}
.heading6{
    position: absolute;
    top: -110px;
    left: -170px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdc5;
}
.heading7{
    position: absolute;
    right: -78px;
    top: -150px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;

}
.heading8{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 300px;
    right: -285px;
    left: -150px;
}
.heading9{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 350px;
    right: 370px;
    
}
.heading10{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 270px;
    top: 350px;
}
body{
    background-color: #454545;
    
}

.border1{
    border: 300px solid #313131; 
    width:201px;
    position: absolute;
    top: 195px;
    left: -250px;
}
.border2{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: -100px;
}
.border3{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: 80px;
}
.border4{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: 265px;
}
.border5{
    border: 50px solid #454545;
    width: 500px;
    position: absolute;
    bottom: -243px;
    left: -153px;  
}
.border6{
    border: 60px solid whitesmoke;
    width: -200px;
    position: absolute;
    right: 609px;
    top: 190px;
}
.border7{
    border: 60px solid whitesmoke;
    width: -200px;
    position: absolute;
    right: 609px;
    top: 300px;
}
.border8{
    border: 60px solid whitesmoke;
    width: -200px;
    position: absolute;
    right: 609px;
    top: 410px;
}
.border9{
    position: absolute;
    top: -430px;
    left: -500px;
    background-color: #999;
    border-radius: 50%;
    width: 200px;
    height:200px ;

}
.border10{
    position: absolute;
    top: -445px;
    left: 590px;
    background-color: #999;
    border-radius: 50%;
    width: 200px;
    height:200px ;

}
.image1{
    position: absolute;
    bottom: -147px;
    left: 20px;
 }

 .image2{
    position: absolute;
    bottom: -79px;
    right: 130px;
 }
 .image3{
    position: absolute;
    bottom:-85px;
    right: -67px; 
 }
 .image4{
    position: absolute;
    top: 290px;
    right: 275px;
 }
 .image5{
    position: absolute;
    left: -490px;
    top: 340px;
 }
 .image6{
    position: absolute;
    left: -456px;
    top: 482px;
 }
 .image7{
    position: absolute;
    left: -482px;
    top: 540px;
 }
 .image8{
    position: absolute;
    top: 460px;
    right: 1px;
 }
 .image9{
    position: absolute;
    top: 585px;
    right: 1px;
 }
 .image10{
    position: absolute;
    top: 710px;
    right: 1px;
 }
 .text1{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 480px;
    right: -135px;
 }
 .text2{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 610px;
    right: -185px;
 }
 .text3{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 740px;
    right: -195px;
 }
 *{
    margin: 0px;
    padding: 0px;
 }
 nav{
    position: absolute;
    top: -70px;
    right: 52px;
 }
 ul li{
    display: inline;
    padding: 3px; 
    
 }
 ul li a{
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;  
 }
 ul li a:hover{
    color: darkorange;
 }
.paragraph1{
    position: absolute;
    top: 166px;
    left: -187px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: whitesmoke;   
}
.paragraph2{
    position: absolute;
    right: -220px;
    top: 60px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: whitesmoke;
}
.paragraph3{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: small;
    width: 230px;
    position: absolute;
    top: 570px;
    left: -160px;
}

.borderradius{
    position: absolute;
    top: -170px;
    right: -5px;
    width: 290px;
    height: 300px;
    border-radius: 50%;
   background-color: #454545;
}
.num1{
    color: yellow;
    position: absolute;
    top: 670px;
    left: -160px;
}
.num2{
    color: yellow;
    position: absolute;
    top: 750px;
    left: -160px;
}
.num3{
    color: yellow;
    position: absolute;
    top: 670px;
    left: -50px;
}
.num4{
    color: yellow;
    position: absolute;
    top: 750px;
    left: -45px;
}

    
    






 

 

    
 




